@{
    ViewData["Title"] = "Current Projects";
}

<head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="wwwroot\css\site.css" />
    <style>
        
    </style>
</head>

<body>
    <h1 class="currentproj-header">@ViewData["Title"]</h1>

    <div>
        <p class="portfolio-para">As of July 2023, my main current project is completing and deploying this portfolio website. I built this as an introduction to C# ASP.NET Core MVC development with a well-rounded front-end programming background. I wanted a portfolio website to showcase a little bit of information about myself, my University background and current/past projects. I also wanted an easy way for employers to contact me via LinkedIn and a functioning email form. I have also experimented with media queries to make the website responsive.</p>
        <p class="connectfour-para">I am also developing another website on the side using C# ASP.NET Core MVC, which is going to be an online two player Connect Four x Trivial Pursuit game in real-time. I have been dabbling in authentication, MySql for external database storage, more adventurous styling techniques and design choices, as well as SignalR for the real-time communication functionality. This development is in early stages, but I have already come to grips with more advances methods within JavaScript and C#.</p>
    </div>
</body>