@{
    ViewData["Title"] = "University of Bristol Dissertation - Narrowing the Online Generation Gap: Intergenerational Interactions at the Community Farm";
}

<head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="wwwroot\css\site.css" />
    <style>
        
    </style>
</head>

<body>
    <h1 class="dementiaproj-header">@ViewData["Title"]</h1>
    <p class="diss-paragraph">
        In my third and final year studying at the University of Bristol, I was tasked with completing an individual project as my final academic disseration, and I gained a lot of skills along the way. I gained experience with interacting with potential end-user groups such as people living with dementia and their spouses to inform useful and accessible techonologies for improved intergenerational interactions. This took place in the form of co-design workshops, feedback sessions and prototype evaluations. From this, I developed a multi-platform application using Flutter and Firebase that acted as a treasure hunt game between children and people living with dementia to be played at a community farm. You can view the full disseration in "Academic Papers" under the "My Projects" tab.
    </p>

    <img class="codesign-two" src="~/Images/codesign_two.png", width="350", height="200">
    
    <img class="zoom" src="~/Images/zoom.png", width="350", height="200">
    
</body>