@{
    ViewData["Title"] = "Current Experience";
}

<head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="wwwroot\css\site.css" />
    <link rel="stylesheet" href="Views\Shared\_Layout.cshtml" />
    <style>
    </style>
</head>

<body>
<h1 class="exp-header">@ViewData["Title"]</h1>
<div class="all-exp">
<p class="exp-para-1">As of July 2023, I am an upcoming graduate of Computer Science at the University of Bristol. Throughout my time at Bristol, I have developed stronger personal and problem-solving skills and attributes.</p>
<p class="exp-para-2">Along the way, I have improved work-related skills such as: 
    <ul class="exp-list-1">
        <li>Team Leadership</li>
        <li>Being a Quick Learner</li>
        <li>Working Against Deadlines and Time Management</li>
        <li>Determination and Desire to Gain Additional Skills and Knowledge on the Job</li>
        <li>Working Effectively Independently and in Small/Large Teams</li>
        <li>Presenting Work and Ideas to Peers and Supervisors</li>
        <li>Conducting In-Person User Studies with Different User Groups to Better Understand User Needs in Software Design - Including People Living With Dementia and Their Informal Carers</li>
    </ul>
</p>

<p class="exp-para-3">Also, I have picked up direct technical skills related to Computer Science such as:
<ul class="exp-list-2">
    <li>Proficiency in Git, and experience with agile software workflow style.</li>
    <li>Well-rounded knowledge and experience with OOP concepts.</li>
    <li>Effective with languages: HTML, CSS, JavaScript, Java, C, C#, Dart, Python and Arduino Software. Also previous familiarity with Haskell, Golang and Prolog.</li>
    <li>Experienced with programming machine learning models using Python, such as Neural Networks, Support Vector Machines and Regression Models.</li>
    <li>Extensive experience with widget-based front end frameworks for both web and mobile development, such as React.js and Flutter.</li>
    <li>Familiarity and appreciation of unit-testing and the "shift-left" approach for implementing concrete security practices in software.</li>
</ul>
</p>
<p class="exp-para-4">I am ready to expand my current skills and experience in a company that is willing to take me on as a new determined developer.</p>
<p class="exp-para-5">For more details on my university and independent projects, follow the My Projects tab.</p>
</div>
</body>
