@{
    ViewData["Title"] = "View my CV";
}
<head>
<style>
</style>
</head>

<body>
<h1 class="cv-title">@ViewData["Title"]</h1>
<div class="cv-button">
    <a href="https://docs.google.com/document/d/11-qJjvG9R3Mv0FaF_KJ2a2IuYot8xy8pgDT4pT9rTyY/edit?usp=sharing"><button class="link-to-docs">CLICK HERE</button></a>
</div>
</body>
