@{
    ViewData["Title"] = "Academic Papers";
}

<head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="wwwroot\css\site.css" />
    <style>
        
    </style>
</head>

<body>
    <h1 class="papers-header">@ViewData["Title"]</h1>
    <div class="diss-link">
        <p>
            Here you can access my final dissertation. Enjoy! For a brief summary, please go to the "Dementia Project" page under the "My Projects" tab.
        </p>
        <a href="https://www.overleaf.com/read/xmcksbbyfjtg">VIEW</a>
    </div>

    <div class="drone-paragraph">
        <p>Also in my final year of university, I contributed to a Human-Computer Interaction research project that looked into the human concerns and comfort levels associated with different factors of Unmanned Aerial Vehichles. This involved working with user groups to determine main features that are essential for a drone to have in order for it to fly in close proximity and land on a human body. From this, me and my team worked on different features such as LED indicators, a "cuteness" element in it's external design, and the hiding of propellers using guards. This was done with techniques such as 3D printing, soldering, working with Arduino modules such as a Bluetooth Controller and Arduino code. The link to our final paper can also be found here. </p>
        <a href="https://www.overleaf.com/read/vbjrrgrmzrst">VIEW</a>
    </div>
</body>